<?xml version="1.0"?>
<!--
  ~  Heartland payment method model
  ~
  ~  @category    HPS
  ~  @package     HPS_Heartland
  ~  @author      Heartland Developer Portal <EntApp_DevPortal@e-hps.com>
  ~  @copyright   Heartland (http://heartland.us)
  ~  @license     https://github.com/hps/heartland-magento2-extension/blob/master/LICENSE.md
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <payment>
            <hps_heartland>
                <active>1</active>
                <model>HPS\Heartland\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <currency>USD</currency>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <is_gateway></is_gateway>
                <title>Heartland</title>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </hps_heartland>
            <hps_paypal>
                <model>HPS\Heartland\Model\Paypal</model>
                <payment_action>authorize_capture</payment_action>
                <title>Heartland Securesubmit PayPal</title>
                <secretapikey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <publicapikey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <use_sandbox>0</use_sandbox>
                <username backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <device_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <license_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <site_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <use_http_proxy>0</use_http_proxy>
                <debug>0</debug>
                <paypal_credit>1</paypal_credit>
                <group>hps_paypal</group>
            </hps_paypal>   
            <hps_paypal_credit>
                <model>HPS\Heartland\Model\PaypalCredit</model>
                <title>PayPal Credit</title>
                <group>hps_paypal</group>
            </hps_paypal_credit>                              
        </payment>
    </default>
</config>
