<?xml version="1.0"?>
<!--
  ~  Heartland payment method model
  ~
  ~  @category    HPS
  ~  @package     HPS_Heartland
  ~  @author      Heartland Developer Portal <EntApp_DevPortal@e-hps.com>
  ~  @copyright   Heartland (http://heartland.us)
  ~  @license     https://github.com/hps/heartland-magento2-extension/blob/master/LICENSE.md
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="heartland" frontName="heartland">
            <module name="HPS_Heartland" />
        </route>
        <route frontName="cards" id="cards">
            <module name="HPS_Heartland"/>
        </route>
        <route id="hpspaypal" frontName="hpspaypal">
            <module name="HPS_Heartland" />
        </route>
    </router>
</config>
