<?xml version="1.0"?>
<!--
  ~  Heartland payment method model
  ~
  ~  @category    HPS
  ~  @package     HPS_Heartland
  ~  @author      Heartland Developer Portal <EntApp_DevPortal@e-hps.com>
  ~  @copyright   Heartland (http://heartland.us)
  ~  @license     https://github.com/hps/heartland-magento2-extension/blob/master/LICENSE.md
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <virtualType name="HPS\Heartland\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hps_heartland" xsi:type="const">HPS\Heartland\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="hps_heartland_config_provider" xsi:type="object">HPS\Heartland\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Model\Order\Payment" type="\HPS\Heartland\Model\Order\Payment" />
    <preference for="\Magento\Payment\Block\Form\Cc" type="\HPS\Heartland\Block\Form\Cc" />

</config>
