<?xml version="1.0"?>
<!--
  ~  Heartland payment method model
  ~
  ~  @category    HPS
  ~  @package     HPS_Heartland
  ~  @author      Heartland Developer Portal <EntApp_DevPortal@e-hps.com>
  ~  @copyright   Heartland (http://heartland.us)
  ~  @license     https://github.com/hps/heartland-magento2-extension/blob/master/LICENSE.md
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="heartland_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Heartland SecureSubmit</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store. Your customers never leave your store to complete the purchase.]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex heartland-section</fieldset_css>
                <frontend_model>HPS\Heartland\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <group id="heartland" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[&nbsp;]]></label>
                    <frontend_model>HPS\Heartland\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/hps_heartland/active</attribute>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hps_heartland/active</config_path>
                        <comment><![CDATA[All values in Heartland SecureSubmit Settings must be set]]></comment>
                        <requires>
                            <group id="heartland_required"/>
                        </requires>
                    </field>

                    <group id="heartland_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="5">
                        <comment><![CDATA[<a href="https://developer.heartlandpaymentsystems.com/Account/Register" target="_blank">Click here to sign up for SecureSubmit account]]></comment>
                        <label>Heartland SecureSubmit Settings</label>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/hps_heartland/title</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Action</label>
                            <source_model>HPS\Heartland\Model\Source\PaymentAction</source_model>
                            <config_path>payment/hps_heartland/payment_action</config_path>
                        </field>
                        <field id="public_key" translate="label" sortOrder="30" type="obscure" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Public Key</label>
                            <config_path>payment/hps_heartland/public_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                        <field id="private_key" translate="label" type="obscure" showInDefault="1" sortOrder="40" showInWebsite="1" showInStore="0">
                            <label>Private Key</label>
                            <config_path>payment/hps_heartland/private_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/hps_heartland/order_status</config_path>
                        </field>
                        <field id="use_vault" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Save Cards</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/hps_heartland/save_cards</config_path>
                            <comment><![CDATA[Please ensure your account is configured for multi-use tokens!!]]></comment>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Credit Card Types</label>
                            <source_model>HPS\Heartland\Model\Source\CcType</source_model>
                            <config_path>payment/hps_heartland/cctypes</config_path>
                        </field>
<!--
                        <field id="fraudprotection" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Advanced Fraud Protection</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Note: You will have 72 hours from the original authorization date to manually review suspicious orders in the virtual terminal and make a final decision (either to accept the gateway fraud decision or to manually override)</comment>
                            <config_path>payment/hps_heartland/fraudprotection</config_path>
                        </field>

                        <field id="fraudnotification" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Advanced Fraud Notification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Configure an email address for notifications</comment>
                            <depends><field id="fraudprotection">1</field></depends>
                            <config_path>payment/hps_heartland/fraud_notification</config_path>
                        </field>

                                                <field id="fraud_email" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                                                    <label>Email Notification</label>
                                                    <comment>Used for fraud notification. A valid Email address is required</comment>
                                                    <depends><field id="fraudnotification">1</field><field id="fraudprotection">1</field></depends>
                                                    <config_path>payment/hps_heartland/fraud_email</config_path>
                                                </field>
                        -->
                        <field id="debug" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Debug</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/hps_heartland/debug</config_path>
                        </field>
                    </group>
                </group>
            </group>            
            <group id="hps_paypal" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Heartland Securesubmit Paypal</label>
                <comment><![CDATA[<a href="http://developer.heartlandpaymentsystems.com/SecureSubmit" target="_blank">Click here to sign up for SecureSubmit account</a>]]></comment>
                <attribute type="expanded">0</attribute>
                <field id="hps_paypal_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable this Solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/hps_paypal/active</config_path>
                    <comment><![CDATA[All values in Heartland SecureSubmit Settings must be set]]></comment>
                    <requires>
                        <group id="heartland_required"/>
                    </requires>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/hps_paypal/title</config_path>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                    <config_path>payment/hps_paypal/order_status</config_path>
                </field>
                <field id="use_sandbox" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/hps_paypal/use_sandbox</config_path>
                    <comment><![CDATA[Please ensure your account is configured for multi-use tokens!!]]></comment>
                </field>
                <field id="username" translate="label" type="text" showInDefault="1" sortOrder="40" showInWebsite="1" showInStore="0">
                    <label>Username</label>
                    <config_path>payment/hps_paypal/username</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">1</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="obscure" showInDefault="1" sortOrder="50" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                    <config_path>payment/hps_paypal/password</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">1</field>
                    </depends>
                </field>                
                <field id="device_id" translate="label" type="text" showInDefault="1" sortOrder="50" showInWebsite="1" showInStore="0">
                    <label>Device ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">1</field>
                    </depends>
                </field>
                <field id="license_id" translate="label" type="text" showInDefault="1" sortOrder="55" showInWebsite="1" showInStore="0">
                    <label>License ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">1</field>
                    </depends>
                </field>
                <field id="site_id" translate="label" type="text" showInDefault="1" sortOrder="60" showInWebsite="1" showInStore="0">
                    <label>Site ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">1</field>
                    </depends>
                </field> 
                <field id="publicapikey" translate="label" type="text" showInDefault="1" sortOrder="65" showInWebsite="1" showInStore="0">
                    <label>Public Api Key</label>
                    <config_path>payment/hps_paypal/publicapikey</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">0</field>
                    </depends>
                </field>
                <field id="secretapikey" translate="label" type="obscure" showInDefault="1" sortOrder="70" showInWebsite="1" showInStore="0">
                    <label>Secret Api Key</label>
                    <config_path>payment/hps_paypal/secretapikey</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="use_sandbox">0</field>
                    </depends>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>HPS\Heartland\Model\Source\CcType</source_model>
                    <config_path>payment/hps_paypal/cctypes</config_path>
                </field>
                <field id="paypal_credit" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Paypal Credit</label>
                    <comment><![CDATA[
                                PayPal Express Checkout lets you give customers access to financing
                                through Paypal Credit&#174; - at no additional cost to you.
                                You get paid up front, even though customers have more time to pay.
                                A pre-integrated payment button lets customers pay quickly with Paypal
                                Credit&#174;.
                                <a href="https://www.paypal.com/webapps/mpp/promotional-financing" target="_blank">Learn More</a>]]>
                    </comment>
                    <config_path>payment/hps_paypal_credit/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <requires>
                        <field id="hps_paypal_active">0</field>
                    </requires>
                </field>
                <field id="custom_message" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Custom Error Message</label>                            
                    <comment><![CDATA[
                                To use the default Secure Submit error message use %s in the custom message text, ex.
                                My message. %s -> will be displayed as: My message. Original Secure Submit message.]]>
                    </comment>
                </field>

                <field id="use_http_proxy" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1">
                    <label>Use HTTP Proxy</label>
                    <config_path>payment/hps_paypal/use_http_proxy</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="http_proxy_host" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1">
                    <label>HTTP Proxy Host</label>
                    <depends>
                        <field id="use_http_proxy">1</field>
                    </depends>
                    <attribute type="shared">1</attribute>
                    <comment>Example: http://example.com</comment>
                    <validate>validate-url</validate>
                </field>
                <field id="http_proxy_port" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1">
                    <label>HTTP Proxy Port</label>
                    <config_path>payment/payflow_advanced/proxy_port</config_path>
                    <depends>
                        <field id="use_http_proxy">1</field>
                    </depends>
                    <attribute type="shared">1</attribute>
                    <comment>Example: 8888</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/hps_paypal/debug</config_path>
                </field>
            </group>            
        </section>
    </system>
</config>
