<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 * User: charles.simmons
 * Date: 1/8/2016
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="heartland_section" translate="label" type="text" sortOrder="1.9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Heartland SecureSubmit</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store. Your customers never leave your store to complete the purchase.]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex heartland-section</fieldset_css>
                <frontend_model>HPS\Heartland\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <group id="heartland" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[&nbsp;]]></label>
                    <frontend_model>HPS\Heartland\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/hps_heartland/active</attribute>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hps_heartland/active</config_path>
                        <comment><![CDATA[All values in Heartland SecureSubmit Settings must be set]]></comment>
                        <requires>
                            <group id="heartland_required"/>
                        </requires>
                    </field>

                    <group id="heartland_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="5">
                        <comment><![CDATA[<a href="https://developer.heartlandpaymentsystems.com/Account/Register" target="_blank">Click here to sign up for SecureSubmit account]]></comment>
                        <label>Heartland SecureSubmit Settings</label>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/hps_heartland/title</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Action</label>
                            <source_model>HPS\Heartland\Model\Source\PaymentAction</source_model>
                            <config_path>payment/hps_heartland/payment_action</config_path>
                        </field>
                        <field id="public_key" translate="label" sortOrder="30" type="obscure" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Public Key</label>
                            <config_path>payment/hps_heartland/public_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                        <field id="private_key" translate="label" type="obscure" showInDefault="1" sortOrder="40" showInWebsite="1" showInStore="0">
                            <label>Private Key</label>
                            <config_path>payment/hps_heartland/private_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/hps_heartland/order_status</config_path>
                        </field>
                        <field id="use_vault" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Save Cards</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/hps_heartland/save_cards</config_path>
                            <comment><![CDATA[Please insure your account is configured for multi-use tokens!!]]></comment>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Credit Card Types</label>
                            <source_model>HPS\Heartland\Model\Source\CcType</source_model>
                            <config_path>payment/hps_heartland/cctypes</config_path>
                        </field>
<!--
                        <field id="fraudprotection" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Advanced Fraud Protection</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Note: You will have 72 hours from the original authorization date to manually review suspicious orders in the virtual terminal and make a final decision (either to accept the gateway fraud decision or to manually override)</comment>
                            <config_path>payment/hps_heartland/fraudprotection</config_path>
                        </field>

                        <field id="fraudnotification" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Advanced Fraud Notification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Configure an email address for notifications</comment>
                            <depends><field id="fraudprotection">1</field></depends>
                            <config_path>payment/hps_heartland/fraud_notification</config_path>
                        </field>

                        <field id="fraud_email" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Email Notification</label>
                            <comment>Used for fraud notification. A valid Email address is required</comment>
                            <depends><field id="fraudnotification">1</field><field id="fraudprotection">1</field></depends>
                            <config_path>payment/hps_heartland/fraud_email</config_path>
                        </field>
-->
                        <field id="debug" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Debug</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/hps_heartland/debug</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
